#header {
    height: 95px;
    padding: 15px;
    padding-left: 100px;
    background: linear-gradient( to bottom right, #4da6ff, #0059b3) no-repeat;
}

#icon {
    position: absolute;
    left: 50px;
    top: 15px;
    width: 100px;
    height: 100px;
}

#title {
    margin-left: 135px; 
    font-size: 50px;
}

#jazyk {
    position: absolute;
    right: 15px;
    top: 13px;
    border: 2px solid #ff8000;
}

#jazyk li:hover {
    animation-name: animation-language;
    animation-duration: 1s; 
}

#language a {
    color: white;
}

#language li:hover {
background: #ff8000;  
}

#currentpage {
    position: absolute;
    top: -15px;
    right: 300px;
    border: 2px solid #ff8000;
    border-top: 0;
    font-size: 20px;
    padding: 5px;
}

#wrapper {
    position: absolute;
    top: 130px;
    width: 100%;
    min-height: calc(100% - 130px);
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    align-items: stretch;
}

#menu {
    min-width: 200px;
    margin-right: 5px;
    order: 1;
    background: linear-gradient( to right, #ff8000,  #ffb366) no-repeat;
}

#list {
     padding: 0;
     margin:0;    
}

#text { 
    padding: 30px;
    padding-left: 35px;
    padding-right: 35px;
    order: 2;
    flex-grow: 1;
    font-size : 20px;
    background: #0059b3;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background: black;
    font-family: 'Josefin Sans', sans-serif;
    overflow: auto;
}

p {
    margin: 0;
}

li {
    padding: 10px;
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 25px; 
}

#menu a {
    color: white;
    font-size: 25px;
}

#menu li {
    width:180px;
    transition-timing-function: ease-out;
    transition: width 2s;
}

#menu li:hover > a { 
    /*color: #ff8000;*/
    color: black;
    font-weight: 700;
}

#menu li:hover {
    /*background: black; */
    background: white;
    border-radius: 0px 5px 5px 0px;
    position: relative;
    /*animation-name: animation-li;
    animation-duration: 0.5s;*/
    width: 220px;
}

#icon:hover {
    animation-name: animation-icon;
    animation-duration: 1s;
}

@keyframes animation-icon {
    0%   {width: 100px; height:100px; left:50px; top:12.5px;}
    100%  {width: 125px; height:125px; left:37.5px; top:0px;}
}

@keyframes animation-li {
    0%   {left:0px; top:0px; opacity: 0.5;}
    100%  {left:40px; top:0px; opacity: 1;}
}

@keyframes animation-language {
    0%   {opacity: 0.2;}
    100%  {opacity: 1;}
}