#header {
    width:calc(100% - 115px);
    height: 120px;
    padding: 15px;
    padding-left: 100px;
    background: linear-gradient( to bottom right, #4da6ff, #0059b3) no-repeat;
}

#icon {
    position: absolute;
    left: 50px;
    top: 25px;
    width: 100px;
    height: 100px;
}

#title {
    padding-left: 105px; 
    padding-right: 125px;
    font-size: 50px;
}

#jazyk {
    position: absolute;
    right: 15px;
    top: 0px;
    border: 2px solid #ff8000;
    border-top: 0px;
}

#jazyk li:hover {
    animation-name: animation-language;
    animation-duration: 1s; 
}

#language a {
    color: white;
}

#language li:hover {
    background: #ff8000; 
}

#wrapper {
    position: absolute;
    top: 155px;
    width: 100%;
    min-height: calc(100% - 155px);
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    align-items: stretch;
}

#menu {
    width: 200px;
    margin-right: 5px;
    order: 1;
    background: linear-gradient( to right, #ff8000,  #ffb366) no-repeat;
}

#list {
     padding: 0;
     margin:0;    
}

#text { 
    padding: 30px;
    padding-left: 35px;
    padding-right: 35px;
    order: 2;
    flex-grow: 1;
    font-size : 20px;
    background: #0059b3;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background: black;
    font-family: 'Scope One', serif;
    overflow: auto;
}

h1 {
     margin:10px;    
}

p {
    margin: 0;
}

li {
    padding: 10px;
    list-style-type: none;
}

#pouziti li {
    padding: 5px;
    list-style-type: none;
}

#poznamka {
    border: 2px white solid;
    padding: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 25px; 
}

#text a {
    color: white;
    font-size:20px;
}

#menu a {
    color: white;
    font-size: 25px;
}

#menu li {
    width:180px;
    transition-timing-function: ease-out;
    transition: width 0.6s;
}

#menu li:hover > a { 
    color: #ff8000;
    font-style: italic;
}

#menu li:hover {
    background: black;
    border-radius: 0px 8px 8px 0px;
    position: relative;
    width: 220px;
    animation-name: animation-li;
    animation-duration: 0.6s;
}

#icon:hover {
    animation-name: animation-icon;
    animation-duration: 2s;  
}

@keyframes animation-icon {
    0%   {width: 100px; height:100px; left:50px; top:25px;}
    50%  {width: 150px; height:150px; left:25px; top:0px;}
    100%  {width: 100px; height:100px; left:50px; top:25px;}
}

@keyframes animation-li {
    0%   {opacity: 0.3;}
    100%  {opacity: 1;}
}

@keyframes animation-language {
    0%   {opacity: 0.2;}
    100%  {opacity: 1;}
}